*{
    margin: 0;
    padding: 0;
}
body,html{
    font-size: 14.5px;
    box-sizing: border-box;
    background-color: #EAEDED;
}
.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 100vh;
    padding: .30rem;
    border-right: 1px solid black;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 200px;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu #btn{
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}
.menu #btn:hover{
    background-color: aqua;
}
.sidebar.active .menu{
    justify-content: right;
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
#profile-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px auto;
}
.sidebar.active #profile-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#username{
    opacity: 0;
    font-size: 22px;
    font-weight: bold;
}
.sidebar.active #username{
    opacity: 1;
}

.sidebar ul li{
    list-style-type: none;
    line-height: 50px;
    position: relative;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
}
.sidebar ul li a:hover{
    background-color: antiquewhite;
}
.sidebar ul li a i{
    font-size: 30px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    display: none;
}
.sidebar.active .nav-item{
   all: revert;
   text-transform: capitalize;
   color: black;
   font-weight: bold;
}

.sidebar ul li .tool-tip{
    white-space: nowrap;
    text-transform: capitalize;
    position: absolute;
    text-align: right;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    border-radius: 10px;
    opacity: 0;
}
.sidebar.active ul li .tool-tip{
    display: none;
}
.sidebar ul li:hover .tool-tip{
    left: 125px;
    opacity: 1;
}

.sidebar.active ~ .main-container{
    position: relative;
    left: 220px;
    width: calc(100% - 220px);
}
.main-container{
    position: relative;
    min-height: 100vh;
    width: calc(100% - 80px);
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
}
/* @media screen and (min-width<= 601px) {
    #name {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width>= 600px) {
    #name {
      font-size: 30px;
    }
  } */